
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div>
    <img src="../assets/restaurant-logo.png" alt="" srcset="" class="scaleImage">
  </div>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item style-link">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Login</a>
      </li>
      <li class="nav-item style-link">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Register</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Contact</a>
      </li> -->
    </ul>
  </div>
</nav>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" class="responsive-img">
    </div>
    <div class="carousel-caption">
      <h3>Fine Dining</h3>
      <p>Champagne is the one thing that gives me zest when I'm tired. </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" class="responsive-img">
    </div>
    <div class="carousel-caption">
      <h3>Fine Dining</h3>
      <p>Pleasure without champagne is purely artificial.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" class="responsive-img">
    </div>
    <div class="carousel-caption">
      <h3>Fine Dining</h3>
      <p>I only drink Champagne on two occasions, when I am in love and when I am not.</p>
    </div>
  </ng-template>
</ngb-carousel>



<app-footer></app-footer>