<div class="form-box">
    <div class="header-text">{{container}}</div>

    <div style="overflow-x:auto;">
        <table>
          <tr>
            <th *ngIf="rowOneLabel">{{rowOneLabel}}</th>
            <th *ngIf="rowTwoLabel">{{rowTwoLabel}}</th>
            <th *ngIf="rowThreeLabel">{{rowThreeLabel}}</th>
            <th *ngIf="rowFourLabel">{{rowFourLabel}}</th>
            <th *ngIf="rowFiveLabel">{{rowFiveLabel}}</th>
            <th *ngIf="rowSixLabel">{{rowSixLabel}}</th>
            <th *ngIf="rowSevenLabel">{{rowSevenLabel}}</th>
            <th *ngIf="rowEightLabel">{{rowEightLabel}}</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
        </table>
      </div>
</div>
